---
import BaseLayout from "./BaseLayout.astro";
import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;

function formatDate(dateString) {
  // Create a new Date object from the provided dateString
  const date = new Date(dateString);

  const monthNames = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];

  const day = date.getDate();
  const monthIndex = date.getMonth();
  const year = date.getFullYear();

  // Format the date string as "Month day, year"
  const formattedDate = `${monthNames[monthIndex]} ${day}, ${year}`;

  return formattedDate;
}
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on {formatDate(frontmatter.pubDate.toString())}</p>
  <p>Written by <a href="/about/">{frontmatter.author}</a></p>
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={"/tags/" + tag}>#{tag}</a>
        </p>
      ))
    }
  </div>
  <p transition:animate={fade({ duration: "1s" })}>
    <em>{frontmatter.description}</em>
  </p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
